/* Background side styling */
#background-side {
  background: url('./resources/background1.jpg'); /* Replace with your image path */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: flex;
  height: 100vh;
  width: 100vw; /* Cover the entire screen */
}

/* Content side styling */
#content-side {
  background-color: rgba(255, 255, 255, 0); /* Slightly transparent white for better readability */
  border-radius: 8px;
  padding: 0px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header and Navigation styling */
.custom-navbar {
  background-color: rgba(2, 21, 38, 0.6); /* Transparent dark background for navbar */
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px); /* Optional: Adds blur effect behind navbar */
}

.custom-header-title {
  font-family: 'Poppins', sans-serif;
  color: #ffffff; /* White for better visibility on the transparent background */
  font-weight: bold;
  font-size: 1.8rem;
}

.text-dark-blue {
  color: hsl(0, 0%, 100%); /* Dark blue for the welcome message */
}

.nav-link, .btn-outline-primary {
  font-weight: 500;
  color: #ffffff;
}

/* Custom Button Styling */
.btn-dark-blue {
  background-color: #ffffff; /* Dark blue */
  color: #ffffff;
  border: none;
  transition: border-radius 0.3s ease, background-color 0.3s ease;
}

.btn-dark-blue:hover {
  background-color: hsl(0, 0%, 100%); /* Darker shade of blue for hover effect */
  color: hsl(0, 0%, 100%);
  border-radius: 8px; /* Adds border radius on hover */
  border-color: #ffffff;
}

/* Responsive adjustment */
@media (max-width: 768px) {
  #background-side {
    display: none;
  }

  #content-side {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }

  .custom-navbar {
    background-color: rgba(2, 21, 38, 0.8); /* Slightly more transparent on smaller screens */
  }
}
